
services:
  web:
    build: backend/.
    ports:
      - "3030:8000"
    environment:
      - DATABASE_URL=sqlite:///./app/event.db
    volumes:
      - db_data:/app  # Сохраняем данные БД

  bot:
    build: backend/. # Используем тот же образ, что и для web
    command: python3 -m tg_bot.main.py  # Команда для запуска бота
    volumes:
      - db_data:/app  # Общий доступ к БД
    environment:
      - DATABASE_URL=sqlite:///../event.db  # Путь к БД из папки tgbot
  vue-app:
    build: frontend/.
    ports:
      - "3000:80"
    restart: unless-stopped

volumes:
  db_data:  # Named volume для сохранения данных БД

